<!-- @format -->

<div
  class="d-inline-flex align-center flex-column g-1 p-1 m-1 border"
  *ngIf="summary"
>
  <div class="hstack">
    <h3 class="m-1 me-auto"><strong>Recovery Rolls</strong></h3>
    <h4 class="m-1 ms-5"><em>1d6</em> + <strong>{{summary.recovery.rollBonus + summary.tier}}</strong></h4>
  </div>
  <div class="vstack mx-3 gap-1">
    <mat-checkbox
      *ngFor="let roll of summary.recovery.rolls"
      [(ngModel)]="roll.used"
      (ngModelChange)="saveCharacterSheet()"
    >
      {{ roll.name }}
    </mat-checkbox>
  </div>
</div>
