<!-- care should be taken when adjusting these, as even small adjustments
  can result in losing the flexible growth to fill the screen. -->
<div class="container-fluid d-flex flex-column min-vh-100 g-0">
  <div class="row d-flex g-0">
    <div class="col flex-grow-1 g-0">
      <app-mainmenu></app-mainmenu>
    </div>
  </div>
  <div class="row flex-grow-1 d-flex flex-row g-0">
    <div class="col-auto d-none d-sm-flex m-3">
      <app-character-summary></app-character-summary>
    </div>
    <div class="col-auto d-none d-sm-flex my-3">
      <div class="vr"></div>
    </div>
    <div class="col m-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
