<!-- @format -->

<h2
  mat-dialog-title
  *ngIf="!data.skill"
>
  Add a new skill
</h2>
<h2
  mat-dialog-title
  *ngIf="data.skill"
>
  Edit <em>{{data.skill.name}}</em>
</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Skill Name</mat-label>
        <input
          matInput
          [formControl]="skillNameRequired"
          required
          placeholder="Name"
          [(ngModel)]="name"
        />
        <mat-error *ngIf="skillNameRequired.invalid">{{ getNameErrorMessage() }}</mat-error>
        <mat-hint>The name of the skill</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Skill Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          placeholder="Short description"
          [(ngModel)]="description"
        ></textarea>
        <mat-hint>A short description of the skill</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Skill Level</mat-label>
        <mat-select
          [(value)]="type"
          aria-label="Skill Type"
        >
          <mat-select-trigger> {{ type }} </mat-select-trigger>
          <mat-option
            [value]="allSkillTypes.Inability"
            aria-label="Inability"
          >
            <mat-icon
              matPrefix
              color="warn"
              >exposure_neg_1</mat-icon
            >
            Inability
          </mat-option>
          <mat-option
            [value]="allSkillTypes.Trained"
            aria-label="Trained"
          >
            <mat-icon
              matPrefix
              color="primary"
              >exposure_plus_1</mat-icon
            >
            Trained
          </mat-option>
          <mat-option
            [value]="allSkillTypes.Specialized"
            aria-label="Specialized"
          >
            <mat-icon
              matPrefix
              color="primary"
              >exposure_plus_2</mat-icon
            >
            Specialized
          </mat-option>
        </mat-select>
        <mat-hint>Level of training in the skill</mat-hint>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    color="accent"
  >
    Cancel
  </button>
  <button
    mat-button
    (click)="saveAndClose()"
    color="primary"
  >
    Save
  </button>
</mat-dialog-actions>
