/* You can add global styles to this file, and also import other style files */

:root {
  /* solarized color scheme.
   * See: https://ethanschoonover.com/solarized/ for details on usage.
   */
  --base03:   #002b36;
  --base02:   #073642;
  --base01:   #586e75;
  --base00:   #657b83;
  --base0:    #839496;
  --base1:    #93a1a1;
  --base2:    #eee8d5;
  --base3:    #fdf6e3;
  --yellow:   #b58900;
  --orange:   #cb4b16;
  --red:      #dc322f;
  --magenta:  #d33682;
  --violet:   #6c71c4;
  --blue:     #268bd2;
  --cyan:     #2aa198;
  --green:    #859900;

  --bg:       var(--base3); /* light background */
  --text:     var(--base00); /* default text color */

  background-color: var(--bg);
  color:            var(--text);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
