<!-- @format -->

<div class="container overflow-hidden">
  <div class="row">
    <div class="col g-2">
      <button
        mat-raised-button
        color="primary"
        (click)="addNewSkill()"
      >
        Add Skill
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col g-3">
      <mat-accordion
        multi
        hideToggle
        displayMode="flat"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <mat-expansion-panel
          *ngFor="let skill of skills; index as i"
          cdkDrag
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ng-container *ngIf="skill.type === allSkillTypes.Inability">
                <span class="cdk-visually-hidden">Inability</span>
                <mat-icon
                  matPrefix
                  color="warn"
                  >exposure_neg_1</mat-icon
                >
              </ng-container>
              <ng-container *ngIf="skill.type === allSkillTypes.Trained">
                <span class="cdk-visually-hidden">Trained</span>
                <mat-icon
                  matPrefix
                  color="primary"
                  >exposure_plus_1</mat-icon
                >
              </ng-container>
              <ng-container *ngIf="skill.type === allSkillTypes.Specialized">
                <span class="cdk-visually-hidden">Specialized</span>
                <mat-icon
                  matPrefix
                  color="primary"
                  >exposure_plus_2</mat-icon
                >
              </ng-container>
              {{ skill.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-fluid d-flex flex-grow g-0 m-0 p-0">
            <div class="p-3">{{ skill.description }}</div>
            <div class="p-3 ms-auto">
              <button
                mat-icon-button
                color="primary"
                (click)="editSkill(i)"
                aria-label="Edit"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="p-3">
              <button
                mat-icon-button
                color="warn"
                aria-label="Delete"
                (click)="delete(i)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
