<!-- @format -->

<div class="container overflow-hidden">
  <div class="row">
    <div class="col g-2">
      <button
        mat-raised-button
        color="primary"
      >
        Add Skill
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col g-3">
      <mat-accordion
        multi
        hideToggle
        displayMode="flat"
      >
        <mat-expansion-panel *ngFor="let skill of skills">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div *ngIf="skill.type === allSkillTypes.Inability">
                <mat-icon color="warn">exposure_neg_1</mat-icon>
                <span class="cdk-visually-hidden">Inability</span>
              </div>
              <div *ngIf="skill.type === allSkillTypes.Trained">
                <mat-icon color="primary">exposure_plus_1</mat-icon>
                <span class="cdk-visually-hidden">Trained</span>
              </div>
              <div *ngIf="skill.type === allSkillTypes.Specialized">
                <mat-icon color="primary">exposure_plus_2</mat-icon>
                <span class="cdk-visually-hidden">Specialized</span>
              </div>
              {{ skill.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-fluid d-flex flex-grow g-0 m-0 p-0">
            <div class="p-3">{{ skill.description }}</div>
            <div class="p-3 ms-auto">
              <button
                mat-icon-button
                color="primary"
                aria-label="Edit"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="p-3">
              <button
                mat-icon-button
                color="warn"
                aria-label="Delete"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
