<!-- @format -->

<h2
  mat-dialog-title
  *ngIf="!data.cypher"
>
  Add a new cypher
</h2>
<h2
  mat-dialog-title
  *ngIf="data.cypher"
>
  Edit <em>{{ data.cypher.name }}</em>
</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Cypher Name</mat-label>
        <input
          matInput
          [formControl]="cypherNameRequired"
          required
          placeholder="Name"
          [(ngModel)]="name"
        />
        <mat-error *ngIf="cypherNameRequired.invalid">{{ getNameErrorMessage() }}</mat-error>
        <mat-hint>The name of the cypher</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field
        class="level"
        appearance="outline"
      >
        <mat-label>Level</mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="10"
          [formControl]="cypherLevelRange"
          placeholder="Level"
          [(ngModel)]="level"
        />
        <mat-hint>The cypher level</mat-hint>
        <mat-error *ngIf="cypherLevelRange.invalid">{{ getLevelErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Cypher Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          placeholder="Short description"
          [(ngModel)]="description"
        ></textarea>
        <mat-hint>A description of the cypher</mat-hint>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    color="accent"
  >
    Cancel
  </button>
  <button
    mat-button
    (click)="saveAndClose()"
    color="primary"
  >
    Save
  </button>
</mat-dialog-actions>
